<% title 'History' %>

<div class="page-list">
  <% current_date = nil %>
  <% @visits.each do |visit| %>
    <% if current_date != visit.created_at.to_date %>
      <% current_date = visit.created_at.to_date %>
      <h2 class="date-divider"><%= current_date.strftime('%B %-d, %Y') %></h2>
    <% end %>
    <%= render partial: 'user_pages/item', locals: { title_url: visit.user_page.url, user_page: visit.user_page } %>
  <% end %>
</div>

<%= will_paginate @visits %>
