<div class="page-grid likes">
  <% @user_pages.each do |user_page| %>
    <%= render partial: 'pages/item', locals: { title_url: like_path(user_page), page: user_page.page } %>
  <% end %>
</div>

<%= will_paginate @user_pages %>
