<h1>Chronicle</h1>
<p>All your pages are belong to us</p>

<% if current_user %>
  <img src="<%= current_user.avatar_url %>" />
  <h2>Hello there <%= current_user.email %></h2>
  <%= link_to 'Sign out', sign_out_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', sign_in_path %>
<% end %>
