<% collapsed_count = 1 %>
<% first_collapsed_visit = nil %>
<div class="page-list">
<% @visits.each_with_index do |visit, i| %>
  <% user_page = visit.user_page %>
  <% previous_visit = i >= 0 && @visits[i - 1] %>
  <% previous_was_interesting = previous_visit && @machine.uniquely_interesting?(previous_visit.id, previous_visit.user_page) %>
  <% distribution = @machine.get_unique_distribution(visit.id, visit.user_page) %>
  <% interesting = @machine.uniquely_interesting?(visit.id, visit.user_page) %>
  <% collapsed_count += 1 if !interesting %>

  <% if interesting && !previous_was_interesting %>
      </div>
      <div class="label"><span class="time"><%= Time.current.to_date == first_collapsed_visit.created_at.to_date ? 'Today' : 'Yesterday' %> <%= first_collapsed_visit.created_at.strftime('%I:%M %p') %></span> <span class="count">Show <%= collapsed_count %> more</span></div>
    </div>
  <% end %>

  <% if !interesting && previous_was_interesting %>
    <% collapsed_count = 1 %>
    <% first_collapsed_visit = visit %>
    <div class="boring-container">
      <div class="boring-pages">
  <% end %>

  <%= render partial: 'user_pages/item_2', locals: { user_page: user_page, title_url: user_page.url, css_class: distribution ? "#{distribution}-interesting" : 'boring' } %>
<% end if current_user %>
</div>
