@import "bourbon";
@import "neat";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "lib/normalize";
@import "fonts";

$black: #000;
$dark-gray: #444;
$medium-gray: #888;
$light-gray: #eaeaea;
$ultra-light-gray: #f2f2f2;
$white: #fff;
$firefox-blue: #00539F;
$firefox-light-blue: #0095DD;
$firefox-orange: #E66000;
$firefox-light-orange: #FF9500;

$highlight: #0394dd;
$gutter-size: 10px;
$double-gutter-size: $gutter-size * 2;
$half-gutter-size: $gutter-size / 2;

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin vertical-center($height) {
  height: $height;
  margin-top: -$height / 2;
  position: absolute;
  top: 50%;
}

@mixin four-by-three($width) {
  height: $width * 0.75;
  width: $width;
}

/* Border box all the things */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: $black;
  font-family: 'Fira Sans', sans-serif;
}

// a {
//   color: $firefox-light-blue;

//   &:visited {
//     color: $firefox-blue;
//   }
// }

body {
  padding-top: 80px;
}

.band {
  width: 100%;

  .band-inner {
    height: 100%;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 10px;
  }
}

header {
  background: rgba(255,255,255,0.98);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 1000;

  .band-inner {
    position: relative;
  }

  h1 {
    margin: 0;
    font-size: 24px;
    @include vertical-center(24px);
  }

  nav {
    @include vertical-center(38px);
    left: 176px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        border: 1px solid $highlight;
        float: left;

        &:first-child {
          border-radius: 2px 0 0 2px;
        }

        &:last-child {
          border-left: 0;
          border-radius: 0 2px 2px 0;
        }

        &.current {
          background: $highlight;
          font-weight: bold;

          a {
            color: $white;
          }
        }

        a {
          color: $highlight;
          display: block;
          height: 38px;
          padding: 9px;
          text-align: center;
          text-decoration: none;
          width: 118px;
        }
      }
    }
  }

  .user {
    @include vertical-center(36px);
    right: 0;

    img {
      border-radius: 50%;
      width: 36px;
    }
  }

  .search {
    @include vertical-center(34px);
    left: 450px;

    input {
      background: #f9f9f9;
      border: 1px solid #d9d9d9;
      border-radius: 17px;
      height: 34px;
      padding: 0 17px;
      width: 485px;
    }
  }
}

.page-list {
  border-left: 1px solid $light-gray;

  .page {
    left: -6px;
    overflow: auto;
    padding: $double-gutter-size $double-gutter-size $double-gutter-size $double-gutter-size * 2;
    position: relative;

    .type {
      background: $white;
      color: #ccc;
      font-size: 20px;
      left: 0;
      padding: $gutter-size 0;
      position: absolute;
      top: 12px;
    }

    .image {
      background-position: center center;
      background-size: cover;
      border: 1px solid $light-gray;
      display: block;
      float: left;
      margin-right: $gutter-size;

      &.portrait {
        background-position: center top;
      }

      .fa {
        color: $white;
        bottom: 14px;
        font-size: 22px;
        left: 14px;
        position: absolute;
      }
    }

    .provider {
      .favicon {
        vertical-align: -4px;
        margin-right: 3px;
      }

      .name {
        font-size: 12px;
        font-weight: bold;
      }

      .author {
        display: none;
      }
    }

    .title {
      margin: ($gutter-size / 2) 0 ($gutter-size / 2) 0;

      a {
        color: $black;
        text-decoration: none;
      }
    }

    .url {
      display: none;
    }

    .description {
      color: $medium-gray;
      font-size: 14px;
    }

    .actions {
      display: none;
    }

    &.most-interesting {
      .image {
        @include four-by-three(340px);
      }
    }

    &.very-interesting {
      .image {
        @include four-by-three(165px);
      }
    }

    &.fairly-interesting {
      .image {
        @include four-by-three(78px);
      }

      .description {
        display: none;
      }
    }

    &.mildly-interesting, &.boring {
      .image, .description, .url, .provider .name, .provider .author {
        display: none;
      }

      .provider {
        float: left;
        margin-right: 3px;
        margin-top: -3px;
      }

      .title {
        font-size: 14px;
      }
    }
  }

  .boring-container {
    .boring-pages {
      border-top: 1px solid $light-gray;
      height: 0;
      overflow: hidden;
    }

    .label {
      color: $medium-gray;
      cursor: pointer;
      font-size: 14px;
      overflow: hidden;
      padding: $gutter-size $gutter-size $gutter-size $double-gutter-size * 2;

      .time {
        float: left;
      }

      .count {
        float: right;
      }
    }

    &.expanded {
      .boring-pages {
        height: auto;
      }

      .label {
        display: none;
      }
    }
  }
}
